{% extends 'front.html.twig' %}
{# on vient charger le template #}
{# AUCUN CODE HTML en dehors des block twig #}

{% block titre %} Home - {{ parent() }} {% endblock %}
{# avec parent je recupere le contenu du bloque parent #}

{% block central%} 
    <h1>Home</h1>
   <div class="row">
    <div class="offset-3 col-6">

    <table class="table table-striped">
            <tbody>
                {% for p in personnes %}
                <tr>
                    
                    <td>{{ p.prenom }} {{p.nom}}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
       
    </div>
   </div>
    
   
   
{% endblock %}